# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE settings
.idea/
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints

# Build / distribution
build/
dist/
*.egg-info/

# Environment files
*.env
